#stage-two-container {
    display: ntwo;
}

#stage-two-cmd-container {
    position: fixed;
    left: 0vw;
    height: 100vh;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-family: var(--command-prompt-font);
    z-index: 9;;
}

#stage-two-cmd-container .task-bar {
    border-bottom: 1px solid #fff;
    padding-top: 0.1rem;
    padding-left: 1rem;
}

#stage-two-cmd-container .task-bar p {
    font-size: medium;
}

#stage-two-cmd-container .prompt-container {
    padding-left: 1rem;
}

#stage-two-cmd-container .prompt-container ul {
    list-style: none;
}

#stage-two-cmd-container .prompt-container input[type=text] {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: var(--command-prompt-font);
    font-size: medium;
    margin-top: 1rem;
}

#stage-two-cmd-container .prompt-container input[type=text]:focus {
    outline: none;
}

#stage-two-cmd-container .prompt-container #enter-stage-two-button, button {
    background-color: transparent;
    color: #fff;
    padding: 0.5rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-family: var(--command-prompt-font);
    font-size: medium;
    width: 20vw;
    cursor: pointer;
}

#stage-two-cmd-container .prompt-container #user-input-area button {
    width: 10vw;
}

#stage-two-canvas-1 {
    position: fixed;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100vw;
    z-index: 8;
}

#stage-two-canvas-2 {
    position: fixed;
    top: 50vh;
    left: 0;
    height: 50vh;
    width: 100vw;
    z-index: 8;
}

#file-explorer {
    position: fixed;
    top: 0vh;
    left: 30vw;
    height: 100vh;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-family: var(--command-prompt-font);
    z-index: 9;
    display: ntwo;
    padding: 1rem;
    overflow-y: scroll;
}

#file-explorer .task-bar {
    border-bottom: 1px solid #fff;
    padding-top: 0.1rem;
    padding-left: 1rem;
}

#file-explorer .task-bar p {
    font-size: medium;
}

#file-explorer .prompt-container {
    padding-left: 1rem;
}

#file-explorer img, #file-explorer video {
    width: 100%;
}

.attention {
    animation: fadeInOut 1s infinite;
    opacity: 0;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0; /* Fade out at the start and end of the animation */
    }
    50% {
        opacity: 1; /* Fade in halfway through the animation */
    }
}

@media screen and (max-width: 768px) {
    #stage-two-cmd-container {
        bottom: 0vh;
        width: 100vw;
        height: 40vh;
        overflow-y: scroll;
    }

    #stage-two-cmd-container .prompt-container {
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 5vh;
    }

    #stage-two-cmd-container .prompt-container #user-input-area button {
        width: 30vw;
    }

    #file-explorer {
        height: 55vh !important;
        width: 100vw !important;
        left: 0 !important;
    }

    #file-explorer img, #file-explorer video {
        width: 90%;
    }

    #stage-two-cmd-container .prompt-container #enter-stage-three-button button {
        width: 65vw;
    }

    .info-box {
        width: 50vw;
        padding: 5vw;
    }

    #stage-two-canvas-1 {
        height: 60vh;
    }

    #stage-two-canvas-2 {
        display: none;
    }
}