:root {
    --command-prompt-font: "consolas";
}

@font-face {
    font-family: "consolas";
    src: url(./Assets/Fonts/CONSOLA.TTF);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
}